- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- page.aside = is_archive() ? theme.aside.display.archive: is_category() ? theme.aside.display.category : is_tag() ? theme.aside.display.tag : page.aside
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = is_post() ? 'post' : 'page'

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      !=partial('includes/loading/index', {}, {cache: true})

    if theme.background
      #web_bg
      
    !=partial('includes/sidebar', {}, {cache: true})

    if page.type !== '404'
      #body-wrap(class=pageType)
        include ./header/index.pug

        main#content-inner.layout(class=hideAside)
          if body
            div!= body
          else
            block content
            if theme.aside.enable && page.aside !== false
              include widget/index.pug

        if is_home()
          if site.data.link
            - let result = ""
            each i in site.data.link
              - let className = i.class_name ? markdown(`## ${i.class_name}`) : ""
              - let classDesc = i.class_desc ? `<div class="flink-desc">${i.class_desc}</div>` : ""

              - let listResult = ""

              each j in i.link_list
                -
                  listResult += `
                    <div class="flink-list-item">
                      <a href="${j.link}" title="${j.name}" target="_blank">
                        <div class="flink-item-name">${j.name}</div>
                        <div class="flink-item-desc" title="${j.descr}">${j.descr}</div>
                      </a>
                    </div>`
                -
              if listResult
                #article-container.layout!= `<div class="flink" style="width:100%;padding:5px 10px;color: blueviolet;font-size: 1.0em;"> ${classDesc} <div class="flink-list">${listResult}</div></div>`

        - var footerBg = theme.footer_bg
        if (footerBg)
          if (footerBg === true)
            - var footer_bg = bg_img
          else
            - var footer_bg = isImgOrUrl(theme.footer_bg) ? `background-image: url('${url_for(footerBg)}')` : `background: ${footerBg}`
        else
          - var footer_bg = ''

        footer#footer(style=footer_bg)
          !=partial('includes/footer', {}, {cache: true})

    else
      include ./404.pug

    include ./rightside.pug
    include ./additional-js.pug